<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <section class="loginform cf">  
            <form name="login" action="checklogin" method="get" accept-charset="utf-8">  
                <ul>  
                    <label for="username">Username</label>  
                    <input type="text" name="username" placeholder="Username" required><br><br>
                    <label for="password">Password</label>  
                    <input type="password" name="password" placeholder="password" required><br><br>
                    <input type="submit" value="Login"><br>
                    <p>Dont have an account? Click <a href="{% url 'register'%}">here</a> </p>
                </ul>  
            </form>  
        </section>
    </body>
</html>